asttokens==2.2.1
backcall==0.2.0
configparser==5.3.0
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
dynaconf==3.1.12
executing==1.2.0
fonttools==4.40.0
ipdb==0.13.13
ipython==8.14.0
jedi==0.18.2
JPype1==1.4.1
kiwisolver==1.4.4
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.25.0
packaging==23.1
paquo==0.6.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.38
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.15.1
pyparsing==3.1.0
python-dateutil==2.8.2
shapely==2.0.1
six==1.16.0
stack-data==0.6.2
tomli==2.0.1
tqdm==4.65.0
traitlets==5.9.0
wcwidth==0.2.6
